* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---baseStyle---*/

body {
  width: 100%;
  background-color: #b3afaf;
  margin: 0 auto;
  padding: 30px 0;
}

/*---endBaseStyle---*/

legend {
  font-size: 30px;
  color: #000;
}

input {
  width: 100%;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #adadad;
  border-bottom-width: 2px;
  font-size: 15px;
  color: #adadad;
  line-height: 4;
  margin-top: 53px;
}

button a {
  width: 100%;
  height: 49px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 82px;
  text-align: center;
  line-height: 3;
}

button {
  border-radius: 50px;
  border: none;
  background: linear-gradient(to right, #22d3fd, #b623ff);
  margin-top: 50px;
}

div {
  font-size: 10px;
  margin-top: 123px;
  color: #adadad;
}

a {
  text-decoration: none;
  color: #adadad;
}

.form {
  width: 390px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
  padding: 85px 55px 37px 55px;
  text-align: center;
}

