* {
  padding: 0;
  margin: 0;
}

body {
  background: #cfcdcd;
  font-family: 'Roboto', sans-serif;
}

.webPage {
  width: 752px;
  background: white;
  margin: 0px auto;
}

.header {
  width: 752px;
  height: 237px;
  background-color: #2D7053;
  padding: 0.1px;
  box-sizing: border-box;
}

.logo {
  width: 144px;
  height: 144px;
  background-image: url(./img/Logo.png);
  margin-top: 37px;
  margin-left: 46px;
  display: inline-block;
}

.titleOfHeader {
  width: 134px;
  height: 131px;
  margin-top: 53px;
  margin-left: 57px;
  font-size: 27px;
  color: white;
  display: inline-block;
  vertical-align: top;
}

.burgerMenu {
  width: 87px;
  height: 71px;
  margin-left: 249px;
  margin-top: 83px;
  display: inline-block;
  vertical-align: top;
}

.buttonMenu {
  width: 87px;
  height: 15px;
  background-color: white;
  border-radius: 15%;
  margin-bottom: 13px;
}

.pic {
  width: 752px;
  height: 470px;
  background-image: url(./img/pic.png);
  padding: 0.1px;
  box-sizing: border-box;
}

.button {
  width: 344px;
  height: 77px;
  background-color: #CB9223;
  margin: 342px 204px;
  font-size: 24px;
  line-height: 3;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.photo {
  width: 255px;
  height: 276px;
  background-image: url(./img/Photo.png);
  border-radius: 50%;
  margin-top: 79px;
  margin-left: 35px;
  display: inline-block;
  vertical-align: top;
}

.author {
  width: 245px;
  height: 106px;
  display: inline-block;
  vertical-align: top;
  margin-top: 155px;
  margin-left: 66px;
}

.authorNames {
  width: 260px;
  font-size: 30px;
}

.profession {
width: 260px;
font-size: 23px;
margin-top: 29px;
}

.content {
  width: 590px;
  font-size: 23px;
  margin-top: 46px;
  margin-left: 35px;
  text-align: justify;
  text-indent: 47px;
}

.content2 {
width: 590px;
margin-left: 35px;
}

.lowerTitle {
  width: 545px;
  font-size: 30px;
  margin-top: 46px;
}

.list {
  width: 590px;
  margin-top: 43px;
  font-size: 23px;
  list-style: none;
  }

  .list li {
    list-style: none;
    }

.lowerButton {
    width: 344px;
    height: 77px;
    background-color: #CB9223;
    margin: 42px 204px;
    font-size: 24px;
    line-height: 3;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }

.footer {
    width: 752px;
    height: 156px;
    background-color: #888888;
    padding: 0.1px;
    box-sizing: border-box;
  }

.lowerLogo {
    width: 99px;
    height: 99px;
    background-image: url(./img/LogoFooter.png);
    margin-top: 29px;
    margin-left: 44px;
    display: inline-block;
  }

.address {
    width: 199px;
    margin-top: 60px;
    margin-left: 183px;
    color: white;
    display: inline-block;
    vertical-align: top;
  }

.contacts {
    width: 144px;
    height: 61px;
    margin-top: 58px;
    margin-left: 38px;
    display: inline-block;
    vertical-align: top;
  }

  .link a {
    color: white;
    text-decoration: none;
  }