* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---baseStyle---*/

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.webPage {
  max-width:1980px;
  margin: 0 auto;
}

.rightTopBlock {
  text-align: right;
}

/*---endBaseStyle---*/

@media screen and (min-width: 300px) and (max-width:600px) {

  body {
    padding: 10px;
  }
  
  .webPage {
    padding: 15px;
  }
}

/*---HEADER---*/
/*---headerTop---*/

.header {
  width: 100%;
  padding: 0 80px 0 101px;
  background-color: #000;
  margin: 0 auto;
  overflow: auto;
}

.leftTopBlock {
  width: 15%;
  float: left;
}

.logo {
  margin: 0 auto;
  padding-top: 60px;
}

.rightTopBlock {
  width: 85%;
  float: left;
  margin: 0 auto;
}

.rightTopBlock div:last-child {
  margin-right: 0;
}

.rightTopBlock a {
  color: #fff;
}

.email, .phone, .logIn {
  display: inline-block;
  margin-right: 44px;
}

.email, .phone {
  font-size: 18px;
  font-weight: bold;
  vertical-align: top;
  padding-top: 78px;
  position: relative;
  padding-left: 52px;

}

.iconHeader {
  position: absolute;
  left: 0;
  top: 75px;
}

.logIn a {
  width: 127px;
  height: 58px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #135ec5;
  text-transform: uppercase;
}

.logIn {
  padding-top: 55px;
  text-align: center;
  line-height: 3.5;
}

/*---headerCenter---*/

.slider {
  width: 98%;
  float: left;
  position: relative;
  text-align: center;
  margin-top: 140px;
}

.slider::after {
  content: "    change     your         car";
  color: #131210;
  font-size: 185px;
  font-weight: bold;
  line-height: 0.9;
  text-transform: uppercase;
  white-space: break-spaces;
}

.slider img {
  max-width: 50%;
  position: absolute;
  top: 95px;
  left: 450px;
}

.switchSlider {
  width: 2%;
  float: left;
  text-align: right;
  margin-bottom: 56px;
}

.switchBox {
  display: inline-block;
  margin-top: 363px;
}

.switch a {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: rgba(60, 60, 60, 1);
  margin-bottom: 7px;
  border-radius: 50%;
}

.switch>a:hover {
  transform: scale(1.5);
  transition-duration: 1s;
}

.switchBox:last-child {
  margin-bottom: 0;
}

.switch .blue {
  background-color: rgba(19, 94, 197, 1);
}

/*---headerBottom---*/

.titleSearchBox {
  width: 100%;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 350px;
}

.titleSearch {
  text-align: center;
}

.selectElement, .buttonSearch {
  display: inline-block;
  color: #131210;
  font-weight: bolder;
  text-transform: capitalize;
}

.selectElement {
  width: 330px;
  height: 78px;
  padding-top: 10px;
  border-bottom-style: solid;
  border-bottom-color: #131210;
  border-bottom-width: 1px;
  margin-right: 90px;
  font-size: 30px;
}

.searchBox div:first-child {
  margin-left: 110px;
}

.searchBox {
  width: 100%;
  margin-top: 44px;
  margin-bottom: 100px;
}

.buttonSearch a {
  width: 217px;
  height: 58px;
  display: inline-block;
  border-radius: 50px;
  background-color: rgba(19, 94, 197, 1);
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  line-height: 3.5;
  transition: 0.3s all linear
}

/*---mediaRequestHeader---*/


@media screen and (min-width: 1750px) and (max-width:1880px) {

  .titleSearchBox {
    margin-top: 300px;
  }

  .selectElement {
    margin-right: 50px;
  }
  
  .searchBox div:first-child {
    margin-left: 90px;
  }

  .buttonSearch a {
    margin-top: 70px;
  }
}

@media screen and (min-width: 1720px) and (max-width:1750px) {

  .selectElement {
  text-align: left;
  }
}

@media screen and (min-width: 1500px) and (max-width:1750px) {

  .header {
    padding: 0 60px 0 80px;
  }
  .slider {
    margin-top: 70px;
  }

.slider::after {
    font-size: 145px;
  }

  .slider img {
    top: 60px;
    left: 300px;
  }

  .titleSearchBox {
    margin-top: 200px;
  }

  .searchBox {
  text-align: center;
  }

  .searchBox div:first-child {
    margin-left: 65px;
  }

  .selectElement {
    margin-right: 65px;
  }

  .buttonSearch a {
    margin-top: 70px;
  }

}

@media screen and (min-width: 1299px) and (max-width:1500px) {
  
  .selectElement {
    margin-right: 50px;
  }

  .searchBox div:nth-child(3) {
    margin-right: 0px;
  }

}

@media screen and (min-width: 1200px) and (max-width:1500px) {

  .header {
    padding: 0 40px 0 60px;
  }

  .slider {
    margin-top: 60px;
  }

  .slider::after {
    font-size: 125px;
  }

  .slider img {
    max-width: 40%;
    left: 375px;
    top: 60px;
  }

  .switchBox {
    margin-top: 175px;
  }

  .titleSearchBox {
    margin-top: 270px;
  }

  .searchBox {
    text-align: center;
    }
  
    .selectElement {
      margin-right: 50px;
    }

    .searchBox div:first-child {
      margin-left: 0px;
    }
  
    .buttonSearch a {
      margin-left: 54px;
      margin-right: 57px;
      margin-top: 70px;
    }

}

@media screen and (min-width: 1000px) and (max-width:1248px) {
  
  .searchBox div:first-child {
    margin-left: 0px;
  }

  .buttonSearch a {
    margin-left: 54px;
    margin-right: 110px;
    margin-top: 70px;
  }
}

@media screen and (min-width: 1000px) and (max-width:1200px) {

  .header {
    padding: 0 40px 0 60px;
  }

  .slider {
    width: 100%;
    height: 300px;
    margin-top: 50px;
  }

  .slider::after {
    font-size: 101px;
  }

  .slider img {
    max-width: 40%;
    left: 310px;
    top: 50px;
  }

  .switchSlider {
    width:100%;
    text-align: center;
  }
  
  .switchBox {
    background-color: #000;
    margin-top: 0px;
  }

  .switch {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 0px;
  }

  .switch:last-child {
    margin-right: 0px;
  }

  .titleSearchBox {
    margin-top: 100px;
  }

  .searchBox {
  text-align: center;
  }

  .buttonSearch a {
    margin-top: 70px;
  }

}

@media screen and (min-width: 800px) and (max-width:1000px) {
  
  .selectElement {
    width: 215px;
    height: 50px;
          margin-right: 50px;
    font-size: 17px;
  }

  .searchBox div:first-child {
    margin-left: 0px;
  }
  
  .buttonSearch a {
    width: 155px;
    height: 50px;
    font-size: 14px;
    line-height: 3.5;
  }

  .email, .phone, .logIn {
    display: block;
    margin-right: 0px;
  }
  
  .email, .phone {
    padding-top: 20px;
  }

  .email a, .phone a {
    font-size: 16px;
    padding-top: 20px;
    padding-left: 15px;
  }

  .iconHeader {
    width: 33px;
    position: inherit;
    top: 9px;
  }

  .logIn a {
    width: 113px;
    height: 50px;
    font-size: 14px;
    text-align: center;
  }

.logIn {
    text-align: right;
    padding-top: 25px;
  }

  .header {
    padding: 0 40px 0 60px;
  }

  .slider {
    width: 100%;
    height: 250px;
    margin-top: 40px;
  }

  .slider::after {
    font-size: 77px;
  }

  .slider img {
    max-width: 40%;
    left: 265px;
    top: 35px;
  }

  .switchSlider {
    width:100%;
    text-align: center;
  }

  .switchBox {
    background-color: #000;
    margin-top: 0px;
  }

  .switch {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 0px;
  }

  .switch:last-child {
    margin-right: 0px;
  }

  .titleSearchBox {
    margin-top: 100px;
  }

  .searchBox {
  text-align: center;
  }

  .buttonSearch a {
    margin-left: 24px;
    margin-right: 85px;
    margin-top: 70px;
  }
}

@media screen and (min-width: 675px) and (max-width:800px) {
  .selectElement {
    width: 215px;
    height: 50px;
    margin-right: 50px;
    font-size: 17px;
  }

  .searchBox div:first-child {
    margin-left: 0px;
  }

  .buttonSearch a {
    width: 155px;
    height: 50px;
    font-size: 14px;
    line-height: 3.5;
    margin-left: 24px;
    margin-right: 85px;
    margin-top: 70px;
  }
  
  .searchBox {
    text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width:800px) {

  .logo {
    padding-top: 20px;
  }

  .email, .phone, .logIn {
    display: block;
    margin-right: 0px;
  }
  
  .email, .phone {
    font-size: 15px;
    padding-top: 5px;
  }

  .email a, .phone a {
    padding-left: 15px;
  }

  .iconHeader {
    position: inherit;
    top: 9px;
  }

  .logIn a {
    font-size: 14px;
    width: 104px;
    height: 45px;
    text-align: center;
  }

  .logIn {
    text-align: right;

    padding-top: 25px;
  }

  .header {
    padding: 0 20px 0 20px;
  }

  .slider {
    width: 100%;
    height: 200px;
    margin-top: 30px;
  }

  .slider::after {
    font-size: 59px;
  }

  .slider img {
    max-width: 40%;
    left: 198px;
    top: 28px;
  }

  .switchSlider {
    width:100%;
    text-align: center;
  }
  
  .switchBox {
    background-color: #000;
    margin-top: 0px;
  }

  .switch {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 0px;
  }

  .switch:last-child {
    margin-right: 0px;
  }

  .titleSearchBox {
    margin-top: 100px;
  }
}

@media screen and (min-width: 300px) and (max-width:674px) {
  
  .searchBox {
    text-align: center;
    }

  .searchBox div {
    font-size: 17px; 
  }

  .searchBox div:first-child {
    margin-left: auto;
  }

  .selectElement {
    display: block;
    margin: 30px auto;
  }
  
  .buttonSearch a {
    display: block;
    margin-top: 70px;
  }
}

@media screen and (min-width: 300px) and (max-width:600px) {

.logo {
  padding-top: 16px;
}

  .logo img {
    width: 30px;
  }

  .email, .phone, .logIn {
    display: block;
    margin-right: 0px;
  }
  
  .email, .phone {
    font-size: 10px;
    padding-top: 5px;
    padding-left: 0px;
  }

  .email a, .phone a {
    padding-top: 20px;
    padding-left: 15px;
  }

  .iconHeader {
    width: 25px;
    position: inherit;
    top: 9px;
  }

  .logIn a {
    font-size: 10px;
    width: 84px;
    height: 35px;
    text-align: center;
  }

.logIn {
    text-align: right;
    padding-top: 5px;
  }

  .header {
    padding: 0 5px 0 5px;
  }

  .slider {
    margin-top: 30px;
  }

  .switchSlider {
    width:100%;
    text-align: center;
  }
  
  .switchBox {
    background-color: #000;
    margin-top: 0px;
  }

  .switch {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 0px;
  }

  .switch:last-child {
    margin-right: 0px;
  }

  .titleSearchBox {
    margin-top: 100px;
  }

  .searchBox {
  text-align: center;
  }

  .buttonSearch a {
    margin-top: 70px;
  }
}

@media screen and (min-width: 485px) and (max-width:600px) {

    .slider::after {
      font-size: 48px;
    }

    .slider img {
      max-width: 40%;
      left: 151px;
      top: 27px;
    }

    .slider {
      height: 150px;
    }

    .switch {
      width: 10px;
      height: 10px;
    }
  }

  @media screen and (min-width: 400px) and (max-width:500px) {
    .titleSearchBox {
      margin-top: 50px;
    }

    .titleSearch {
      font-size: 15px;
    }
    
    .selectElement {
      width: 230px;
      font-size: 15px;
    }

    .buttonSearch a {
      width: 170px;
      height: 48px;
      font-size: 13px;
    }

  }

  @media screen and (min-width: 442px) and (max-width:485px) {
    
      .slider::after {
        font-size: 42px;
      }
    
      .slider img {
        max-width: 40%;
        left: 124px;
        top: 23px;
      }
    
    .slider {
      height: 120px;
    }
    
      .switch {
        width: 10px;
        height: 10px;
      }
    }

    @media screen and (min-width: 300px) and (max-width:400px) {
      .titleSearchBox {
        margin-top: 25px;
      }
  
      .titleSearch {
        font-size: 10px;
      }
      
      .selectElement {
        width: 150px;
        font-size: 8px;
      }
  
      .buttonSearch a {
        width: 120px;
        height: 38px;
        font-size: 10px;
      }
    }

  @media screen and (min-width: 359px) and (max-width:442px) {

    .iconHeader {
      width: 20px;
      top: 7px;
    }

    .logIn a {
      font-size: 8px;
      width: 74px;
      height: 25px;
    }
       
  .logIn {
      line-height: 3;
    }

      .slider::after {
        font-size: 32px;
      }
    
      .slider img {
        max-width: 40%;
        left: 102px;
        top: 18px;
      }
        
      .slider {
        height: 90px;
      }
      
      .switch {
        width: 10px;
        height: 10px;
      }
    }

  @media screen and (min-width: 300px) and (max-width:359px) {

      .iconHeader {
        width: 15px;
        top: 4px;
      }

      .logIn a {
        font-size: 8px;
        width: 64px;
        height: 20px;
      }
         
    .logIn {
        line-height: 2.3;
      }
    
      .slider::after {
        font-size: 24px;
      }
    
      .slider img {
        max-width: 40%;
        left: 78px;
        top: 13px;
      }

      .slider {
        height: 80px;
      }

      .switch {
        width: 8px;
        height: 8px;
      }
    }



/*---SECTION---*/
/*---sectionHeader---*/

.sectionHeader {
  width: 100%;
  color: #c1c1c1;
  font-size: 18px;
  border-bottom-color: #c1c1c1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 70px;
  margin-bottom: 62px;
  text-align: center;
}

.logosAutoMakers {
  margin: 65px auto;
}

.logosAutoMakers a {
  display: inline-block;
  margin-top: 68px;
  margin-right: 195px;
}

.logosAutoMakers a:nth-child(3) {
  margin-right: 217px;
}

.logosAutoMakers a:nth-child(5) {
  vertical-align: top;
  margin-top: 81px;
}

.logosAutoMakers a:nth-child(6) {
  margin-right: 218px;
}

.logosAutoMakers a:last-child {
  margin-right: 0px;
}

.logosAutoMakers>a>img:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

/*---mediaRequestSectionHeader---*/

@media screen and (min-width: 1898px) and (max-width:1928px) {

  .logosAutoMakers {
    width: 83%;
    margin: 0 auto;
  }

  .logosAutoMakers a:nth-child(6) {
    margin-right: 0px;
  }

  .logosAutoMakers a:nth-child(7) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1591px) and (max-width:1897px) {

  .logosAutoMakers {
    width: 82%;
  }

    .logosAutoMakers a:nth-child(5) {
    margin-right: 0px;
    margin-bottom: 12px;
  }

  .logosAutoMakers a:nth-child(7) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1212px) and (max-width:1590px) {

  .logosAutoMakers {
    width: 80%;
  }

    .logosAutoMakers a:nth-child(4) {
    margin-right: 0px;
  }

  .logosAutoMakers a:nth-child(7) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1107px) and (max-width:1211px) {

  .logosAutoMakers {
    width: 61%;
  }

    .logosAutoMakers a:nth-child(3) {
    margin-right: 0px;
  }

    .logosAutoMakers a:nth-child(6) {
    margin-right: 9px;
  }

  .logosAutoMakers a:nth-child(7) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1093px) and (max-width:1107px) {

  .logosAutoMakers {
    width: 60%;
  }

    .logosAutoMakers a:nth-child(3) {
    margin-right: 0px;
  }

  .logosAutoMakers a:nth-child(6) {
    margin-right: 0px;
  }

  .logosAutoMakers a:nth-child(7) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 300px) and (max-width:1092px) {

  .logosAutoMakers {
    width: 44%;
  }

    .logosAutoMakers a:nth-child(odd) {
    float: left;
    clear: left;
    margin-top: 20px;
    margin-right: 0px;
  }

  .logosAutoMakers a:nth-child(even) {
    float: right;
    clear: right;
    margin: 0 auto;
  }

    .logosAutoMakers a:last-child {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .logosAutoMakers a:nth-child(1) {
    margin-left: 27px;
  }

  .logosAutoMakers a:nth-child(3) {
    margin-left: 27px;
  }

  .logosAutoMakers a:nth-child(4) {
    margin-right: 27px;
  }

  .logosAutoMakers a:nth-child(6) {
    margin-right: 27px;
  }

  }

  @media screen and (min-width: 300px) and (max-width:900px) {

    .logosAutoMakers {
      width: 50%;
    }
    }

    @media screen and (min-width: 300px) and (max-width:800px) {

      .logosAutoMakers {
        width: 55%;
      }
      }
  
      
    @media screen and (min-width: 300px) and (max-width:700px) {

      .logosAutoMakers {
        width: 60%;
      }
      }

          @media screen and (min-width: 300px) and (max-width:600px) {

      .logosAutoMakers {
        width: 70%;
      }
      }

      @media screen and (min-width: 300px) and (max-width:500px) {

        .logosAutoMakers {
          width: 90%;
        }
      
        }

        @media screen and (min-width: 300px) and (max-width:400px) {

          .logosAutoMakers {
            width: 95%;
          }

          .logosAutoMakers a:nth-child(odd) {
            float: none;
            margin: 30px auto;
            display: block;
          }
        
          .logosAutoMakers a:nth-child(even) {
            float: none;
            margin: 30px auto;
            display: block;
          }
          }



/*---sectionArticle---*/
/*---articleTop---*/

.sectionArticle {
  width: 100%;
  margin-top: 150px;
}

.articleTop {
  max-width: 1532px;
  min-height: 321px;
  margin: 0 auto;
  margin-bottom: 158px;
}

.carPic {
  max-width: 45%;
  margin-right: 99px;
  float: left;
  position: relative;
}

.photoForContent::after {
  content: "bmw         series";
  color: #fff;
  font-size: 150px;
  font-weight: bold;
  line-height: 0.9;
  text-transform: uppercase;
  white-space: break-spaces;
  text-shadow: 2px 3px 20px #eff1f0, -2px -3px 20px #eff1f0;
}  

 .photoForContent img {
  max-width: 70%;
  position: absolute;
  top: 35px;
  left: 65px;
} 

.textDescription {
  max-width: 45%;
  float: left;
}

.textDescription h3 {
  text-transform: capitalize;
  color: #135ec5;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 25px;
}

.textDescription span {
  text-transform: uppercase;
}

.textDescription p {
  color: #c1c1c1;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 3;
}

.textDescription a {
  width: 217px;
  height: 58px;
  display: inline-block;
  border-radius: 50px;
  background-color: rgba(19, 94, 197, 1);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 3.5;
  margin-top: 42px;
}

/*---mediaRequestSectionHeader---*/

@media screen and (min-width: 300px) and (max-width:1655px) {

  .sectionArticle {
    margin-top: 100px;
  }

  .articleTop {
    margin-bottom: 100px;
  }

.carPic, .textDescription {
  float: none;
  margin: 0 auto;
}

.carPic {
  max-width: 740px;
}

.textDescription {
  max-width: 693px;
  margin-top: 100px;
  padding: 0px 50px;
}
}

@media screen and (min-width: 300px) and (max-width:686px) {

  .photoForContent::after {
    font-size: 139px;
    line-height: 1.2;
}

.textDescription h3 {
  font-size: 48px;
}

.textDescription p {
  font-size: 15px;
}
}

@media screen and (min-width: 300px) and (max-width:636px) {

  .photoForContent::after {
    font-size: 128px;
}

.textDescription {
  padding: 0px 30px;
}

  .textDescription h3 {
    font-size: 45px;
  }

  .textDescription p {
    font-size: 14px;
}
}

@media screen and (min-width: 300px) and (max-width:600px) {

  .photoForContent::after {
    font-size: 112px;
    line-height: 1.3;
}

  .textDescription h3 {
    font-size: 39px;
  }

  .textDescription p {
    font-size: 14px;
}
}

@media screen and (min-width: 300px) and (max-width:562px) {

  .photoForContent::after {
    font-size: 100px;
    line-height: 1.4;
}

  .textDescription h3 {
    font-size: 36px;
  }

  .textDescription p {
    font-size: 13px;
}
}

@media screen and (min-width: 300px) and (max-width:507px) {

  .photoForContent::after {
    font-size: 90px;
}

   .textDescription h3 {
    font-size: 32px;
  }
}

@media screen and (min-width: 300px) and (max-width:461px) {

  .photoForContent::after {
    font-size: 82px;
}

.textDescription {
  padding: 0px 20px;
}

  .textDescription h3 {
    font-size: 29px;
  }

}

@media screen and (min-width: 300px) and (max-width:425px) {

  .photoForContent::after {
    font-size: 76px;
}
}

@media screen and (min-width: 300px) and (max-width:397px) {

  .photoForContent::after {
    font-size: 70px;
}
}

@media screen and (min-width: 300px) and (max-width:370px) {

  .photoForContent::after {
    font-size: 65px;
}
}

@media screen and (min-width: 300px) and (max-width:347px) {

  .photoForContent::after {
    font-size: 60px;
}
}

@media screen and (min-width: 300px) and (max-width:325px) {

  .photoForContent::after {
    font-size: 60px;
    line-height: 1.6;
}
}

 @media screen and (min-width: 300px) and (max-width:324px) {

  .photoForContent::after {
    font-size: 56px;
}
}

@media screen and (min-width: 300px) and (max-width:304px) {

  .photoForContent::after {
    font-size: 54px;
}
}


/*---articleCenter---*/
/*---blueSection---*/

.blueSection {
  width: 100%;
  background-color: #135ec5;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.blueSection h3 {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  padding-top: 147px;
}

.blueSection a {
  width: 217px;
  height: 58px;
  display: inline-block;
  border-radius: 50px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 3.3;
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
}

.photoForContent2 {
  max-width: 624px;
  height: 236px;
  margin: 0 auto;
  position: relative;
}

.X5 {
  max-width: 100%;
  position: absolute;
  top: 105px;
  left: 0px;
}

/*---mediaRequestSectionHeader---*/

@media screen and (min-width: 431px) and (max-width:593px) {

  .blueSection h3 {
    font-size: 40px;
  }
}

@media screen and (min-width: 348px) and (max-width:430px) {

  .blueSection h3 {
    font-size: 30px;
  }

  .blueSection a {
    width: 170px;
    height: 38px;
    font-size: 13px;
    line-height: 2.5;
  }
}

@media screen and (min-width: 300px) and (max-width:347px) {

  .blueSection h3 {
    font-size: 25px;
  }

  .blueSection a {
    width: 170px;
    height: 38px;
    font-size: 13px;
    line-height: 2.5;
  }
}

/*---whiteSection---*/

.whiteSection {
  width: 100%;
}

.leftBlock {
  width: 24%;
  background-color: #fff;
  margin-top: 331px;
  margin-left: 181px;
  display: inline-block;
  position: relative;
  box-shadow: 50px 30px 100px #eff1f0, -50px -30px 100px #eff1f0;
}

.topBlock {
  width: 100%;
  height: 191px;
  background-color: #135ec5;
  display: inline-block;
  position: relative;
}

.labelFresh a {
  width: 88px;
  height: 32px;
  border-radius: 50px;
  background-color: #fff;
  color: #135ec5;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.5;
  text-align: center;
  text-transform: uppercase;
  margin-top: 28px;
  margin-right: 33px;
  float: right;
}

.photoForContent3 {
  max-width: 280px;
  margin: 0 auto;
}

.photoForContent3 img {
  max-width: 100%;
  position: absolute;
  top: 126px;
  right: 95px;
  z-index: 2;
}

 .topBlock::after {
  content: "furie";
  text-align: center;
  color: #fff;
  opacity: 0.03;
  font-size: 156px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: -7px;
}

.bottomBlock {
  max-width: 100%;
  text-align: center;
  padding-left: 52px;
  padding-right: 59px;
  padding-bottom: 45px;
}

.titleCar {
  color:#000;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 125px;
}

.carNames {
  color: #135ec5;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 6px;
}

.carData {
  color: #c1c1c1;
  font-size: 18px;
  margin-top: 37px;
}

.carPrice {
  color: #16ad2c;
  font-size: 30px;
  font-weight: bold;
  float: left;
  vertical-align: top;
}

.bottomBlock .carPrice {
  margin-top: 46px;
  margin-right: 22px;
}

.bottomBlock .buttonMoreInfo {
  float: right;
  margin-bottom: 45px;
}

.buttonMoreInfo a {
  width: 195px;
  height: 52px;
  border-radius: 50px;
  background-color: rgba(226, 226, 226, 1);
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 3.3;
  margin-top: 38px;

}

.rightBlock {
  width: 50%;
  display: inline-block;
  background-color: #fff;
  margin-top: 256px;
  margin-left: 202px;
  margin-right: 96px;
  vertical-align: top;
  box-shadow: 50px 30px 100px #eff1f0, -50px -30px 100px #eff1f0;

}

.leftSide {
  width: 50%;
  padding: 62px 49px 97px 59px;
  background-color: #fff;
  float: left;
}

.leftSide .carNames {
  display: inline-block;
  color: #e2e2e2;
  margin-top: 9px;
}

.leftSide .carPrice {
  float: right;
}

.leftSide .titleCar {
  color: #135ec5;
  margin-top: 134px;
}

.leftSide .titleCar {
  max-width: 326px;
}

.leftSide p {
  max-width: 318px;
  height: 157px;
  margin-top: 23px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #c1c1c1;
  line-height: 3;

}

.leftSide .buttonMoreInfo a {
  background-color: rgba(19, 94, 197, 1);
  margin-top: 66px;
}

.rightSide {
width: 42%;
display: inline-block;
background-color: #135ec4;
position: relative;
}

.rightSide .labelFresh a {
  margin-top: 57px;
  margin-right: 43px;
}

  .photoForContent4 {
    max-width: 1280px;
    margin-left: 500px;
    height: 387px;
    margin: 0 auto;
  }

.rightSide img {
  max-width: 120%;
  position: absolute;
  top: 170px;
  right: 0px;
}

.bullets {
  width: 68px;
  margin: 0 auto;
  margin-top: 591px;
  margin-bottom: 82px;
}

.bullets div {
  display: inline-block;
}

.bullets a {
  width: 9px;
  height: 9px;
  display: inline-block;
  background-color: rgba(21, 80, 161, 1);
  border-radius: 50%;
  margin-left: 14px;
}

.bullets .centerBullet a {
  width: 13px;
  height: 13px;
  background-color: #fff;
}

.bullets .leftBullet a {
  margin-left: 0px;
}

.bullets>div>a:hover {
  transform: scale(1.3);
  transition-duration: 1s;
}


@media screen and (min-width: 300px) and (max-width:1858px) {

  .leftBlock,  .rightBlock {
    display: block;
    margin: 0 auto;
  }

  .leftBlock {
    width: 100%;
    max-width: 453px;
    margin-top: 200px;
  }

  .bottomBlock .carPrice, .bottomBlock .buttonMoreInfo {
    float: none;
    display: inline-block;
  }

  .rightBlock {
    width: 100%;
    max-width: 1039px;
    margin-top: 150px;
  }
  
}

@media screen and (min-width: 300px) and (max-width:930px) {

  .leftSide div:nth-child(4) {
    margin-right: 40px;
    padding-right: 20px;
    overflow: auto;
  }

  .leftSide .titleCar {
    margin-top: 129px;
  }
}

@media screen and (min-width: 300px) and (max-width:700px) {

  .leftSide .buttonMoreInfo a {
    margin-top: 33px;
  }

  .leftSide .carNames {
    display: block;
    text-align: center;
}

  .leftSide .carPrice {
    float: none;
    text-align: center;
    margin-top: 30px;
}

.leftSide .titleCar {
  margin-top: 70px;
}

.leftSide div:nth-child(4) {
  margin-right: 20px;
  padding-right: 10px;
}

.bullets {
  margin-top: 555px;
}
}

@media screen and (min-width: 300px) and (max-width:608px) {

  .leftSide .buttonMoreInfo a {
    margin-top: 33px;
  }

  .leftSide {
    padding-bottom: 30px;
  }

  .leftSide .carNames {
    display: block;
    text-align: center;
}

  .leftSide .carPrice {
    font-size: 23px;
}

.leftSide .titleCar {
  font-size: 20px;
}

.leftSide p {
  font-size: 13px;
}

.leftSide div:nth-child(4) {
  margin-right: 10px;
  padding-right: 5px;
}

.leftSide .buttonMoreInfo a {
  width: 100%;
  height: 50%;
}

.bullets {
  margin-top: 545px;
  margin-bottom: 50px;
}

.bullets {
  margin-top: 510px;
}
}

@media screen and (min-width: 300px) and (max-width:550px) {

.leftSide .buttonMoreInfo a {
  font-size: 12px;
}

.bullets {
  margin-top: 490px;
  margin-bottom: 50px;
}

.leftSide div:nth-child(4) {
  margin-right: 0px;
  padding-right: 0px;
}

.leftSide .titleCar {
  margin-top: 50px;
}

.leftSide {
padding: 42px 50px 81px 40px;
}
}

 @media screen and (min-width: 300px) and (max-width:499px) {

  .bottomBlock {
    padding-left: 26px;
    padding-right: 29px;
  }

  .leftSide .titleCar {
    margin-top: 40px;
  }

  .leftSide .buttonMoreInfo a {
    font-size: 10px;
  }

  .bullets {
    margin-top: 365px;
    margin-bottom: 50px;
  }

  .leftSide {
    padding: 42px 43px 58px 30px;
    }

  .rightSide .labelFresh a {
    float: none;
    display: block;
    margin: 0 auto;
    margin-top: 57px;
  }

  .rightSide .labelFresh {
    margin-right: auto;
  }

  .photoForContent3 img {
    right: 90px;
}

.topBlock::after {
  font-size: 148px;
  top: 5px;
}
}

 @media screen and (min-width: 300px) and (max-width:441px) {

    .bottomBlock .carPrice, .bottomBlock .buttonMoreInfo {
    display: block;
  }

  .bottomBlock .buttonMoreInfo {
    margin-bottom: 10px;
  }

  .leftSide .buttonMoreInfo a {
    font-size: 9px;
  }

  .bullets {
    margin-top: 350px;
    margin-bottom: 50px;
  }

  .leftSide {
    padding: 42px 36px 37px 30px;
    }

    .photoForContent3 img {
      right: 60px;
  }
  
  .topBlock::after {
    font-size: 128px;
    top: 20px;
  }
}

 @media screen and (min-width: 300px) and (max-width:437px) {

  .leftSide .carNames {
    font-size: 10px;
}

  .leftSide .carPrice {
    font-size: 17px;
}

.leftSide .titleCar {
  font-size: 15px;
}

  .leftSide p {
  font-size: 10px;
  }

  .bullets {
    margin-top: 330px;
    margin-bottom: 40px;
  }

  .leftSide {
    padding: 42px 35px 29px 20px;
    }

    .leftSide .buttonMoreInfo a {
    font-size: 7px;
  }

  .photoForContent3 img {
    right: 24px;
}

.topBlock::after {
  font-size: 106px;
  top: 32px;
}
}

@media screen and (min-width: 300px) and (max-width:370px) {

  .leftSide {
    padding: 29px 35px 22px 20px;
    }

    .bullets {
    margin-bottom: 30px;
  }

  .photoForContent3 img {
    right: 1px;
}

.topBlock::after {
  font-size: 82px;
  top: 50px;
}
}

/*---FOOTER---*/

.footer {
  max-width: 1465px;
  margin: 0 auto;
  margin-top: 149px;
  background-color: #fff;
  box-shadow: 50px 30px 100px #eff1f0, -50px -30px 100px #eff1f0;
}

 .fieldSelectTop, .fieldSelectBottom {
  width: 95%;
  margin: 0 auto;
} 

.fieldSelectTop div, .fieldSelectBottom div {
  width: 305px;
  height: 43px;
  display: inline-block;
  color: #c1c1c1;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom-color: #c1c1c1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 74px;
  margin-bottom: 71px;
  margin-right: 48px;
}

.fieldSelectTop div:nth-child(2) {
  color: #000;
}

.fieldSelectTop div:last-child {
  margin-right: 0px;
}

.fieldSelectBottom div:last-child {
  margin-right: 0px;
}

.selectLogos {
  width: 100%;
  padding-top: 50px;
  border-top-color: #c1c1c1;
  border-top-width: 1px;
  border-top-style: solid;
}

.logosCars {
  width: 95%;
  margin: 0 auto;
}

.logosCars a {
  margin-right: 150px;
  display: inline-block;
}

.logosCars a:nth-child(5) {
  vertical-align: top;
  margin-top: 12px;
}

.logosCars :last-child {
  margin-right: 0px;
}

.logosCars>a>img:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.fieldSelectBottom span {
  text-transform: lowercase;
}

.fieldSelectBottom div {
  margin-bottom: 50px;
}

.hideButton {
  width: 14%;
  margin: 0 auto;
}


/*---FooterBottomPart---*/

.footerBottomPart {
  max-width: 1465px;
  margin: 0 auto;
  margin-bottom: 173px;
  background-color: #135ec5;
  border: 1px solid #135ec5;
  position: relative;
}

.hideButton a {
  width: 190px;
  height: 72px;
  display: inline-block;
  margin: 0 auto;
  background-color: rgba(19, 94, 197, 1);
  border-radius: 30px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 3;
  position: absolute;
  top: -36px;
  right: 637px;
}

.fieldBottomPart {
  width: 95%;
  margin: 0 auto;
} 

.footerBottomPart {
  padding-top: 100px;
  margin-top: 30px;
}

.fieldBottomPart div, .fieldBottomPartNext div {
  width: 305px;
  height: 43px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-transform: capitalize;
  margin-right: 48px;
}

.fieldBottomPart, .fieldBottomPartNext {
  width: 95%;
  margin: 0 auto;
} 

.fieldBottomPart span:not(p) {
  opacity: 0.2;

}

.fieldBottomPart div:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 300px) and (max-width:1549px) {

  .hideButton {
  
    top: -36px;
    right: 637px;
  }
  }

  @media screen and (min-width: 300px) and (max-width:1394px) {

    .hideButton a {
      top: -36px;
      right: 580px;
    }
    }

    @media screen and (min-width: 300px) and (max-width:1394px) {

      .hideButton a {
        top: -36px;
        right: 580px;
      }
      }

      @media screen and (min-width: 300px) and (max-width:1280px) {

        .hideButton a {
          top: -36px;
          right: 520px;
        }
        }

        @media screen and (min-width: 300px) and (max-width:1160px) {

          .hideButton a {
            top: -36px;
            right: 468px;
          }
          }

          @media screen and (min-width: 300px) and (max-width:1160px) {

            .hideButton a {
              top: -36px;
              right: 468px;
            }
            }

            @media screen and (min-width: 300px) and (max-width:1058px) {

              .hideButton a {
                top: -36px;
                right: 420px;
              }
              }

              @media screen and (min-width: 300px) and (max-width:966px) {

                .hideButton a {
                  top: -36px;
                  right: 370px;
                }
                }

                @media screen and (min-width: 300px) and (max-width:895px) {

                  .hideButton a {
                    top: -36px;
                    right: 340px;
                  }
                  }

                  @media screen and (min-width: 300px) and (max-width:815px) {

                    .hideButton a {
                      top: -36px;
                      right: 288px;
                    }
                    }

                    @media screen and (min-width: 300px) and (max-width:700px) {

                      .hideButton a {
                        top: -36px;
                        right: 248px;
                      }
                      }

                      @media screen and (min-width: 300px) and (max-width:608px) {

                        .hideButton a {
                          top: -36px;
                          right: 200px;
                        }
                        }

                        @media screen and (min-width: 300px) and (max-width:608px) {

                          .hideButton a {
                            top: -36px;
                            right: 200px;
                          }
                          }

                          @media screen and (min-width: 300px) and (max-width:590px) {

                            .hideButton a {
                              top: -36px;
                              right: 152px;
                            }
                            }

                            @media screen and (min-width: 300px) and (max-width:486px) {

                            .hideButton a {
                              top: -36px;
                              right: 104px;
                            }
                            }

                            @media screen and (min-width: 300px) and (max-width:400px) {

                            .hideButton a {
                              top: -36px;
                              right: 60px;
                            }
                            }

                            @media screen and (min-width: 300px) and (max-width:350px) {

                              .hideButton a {
                                top: -36px;
                                right: 47px;
                              }
                              }
  

/*---FooterBottomPartNext---*/

.fieldBottomPartNext {
  margin-top: 63px;
}

.fieldBottomPartNext span {
  opacity: 0.2;
}

.fieldBottomPartNext div:last-child {
  margin-right: 0px;
}

.buttonSectionFooter {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.buttonSectionFooter a {
  width: 207px;
  height: 58px;
  display: inline-block;
  border-radius: 50px;
  background-color: #fff;
  font-size: 16px;
  color: #135ec5;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 3.5;
  margin-top: 50px;
  margin-bottom: 56px;
}

@media screen and (min-width: 300px) and (max-width:1549px) {

.fieldSelectTop, .fieldSelectBottom {
  text-align: center;
}

.fieldSelectTop div, .fieldSelectBottom div {
  text-align: start;
}

.fieldBottomPart, .fieldBottomPartNext {
  text-align: center;
}

.fieldBottomPart div, .fieldBottomPartNext div {
  text-align: start;
}
}

@media screen and (min-width: 1221px) and (max-width:1549px) {

  .fieldSelectTop {
    width: 90%;
  }
  
  .fieldSelectTop div:nth-child(3) {
    margin-right: 0px;
  }
  
    .fieldSelectBottom {
    width: 90%;
  }
  
  .fieldSelectBottom div:nth-child(3) {
    margin-right: 0px;
  }

  .fieldBottomPart {
    width: 90%;
  }
  
  .fieldBottomPart div:nth-child(3) {
    margin-right: 0px;
  }

  .fieldBottomPart div:nth-child(4) {
    margin-top: 74px;
  }

  .fieldBottomPartNext {
    width: 90%;
  }
  
  .fieldBottomPartNext div:nth-child(3) {
    margin-right: 0px;
  }

  .fieldBottomPartNext div:nth-child(4) {
    margin-top: 74px;
  }

  }

@media screen and (min-width: 1483px) and (max-width:1547px) {

  .logosCars {
    text-align: center;
  }
  .logosCars {
    width: 83%;
  }
  .logosCars a:nth-child(6) {
    margin-right: 0px;
  }

  .logosCars a:nth-child(7) {
    margin-top: 40px;
  }
  }

  @media screen and (min-width: 1215px) and (max-width:1482px) {

    .logosCars {
      text-align: center;
    }
    .logosCars {
      width: 79%;
    }
    .logosCars a:nth-child(5) {
      margin-right: 0px;
    }

    .logosCars a:nth-child(7) {
      margin-top: 40px;
    }
    }

    @media screen and (min-width: 705px) and (max-width:1214px) {

      .logosCars {
        text-align: center;
      }
      .logosCars {
        width: 46%;
      }

      .logosCars a:nth-child(3) {
        margin-right: 0px;
      }

      .logosCars a:nth-child(4) {
        margin-top: 40px;
      }

      .logosCars a:nth-child(5) {
        margin-top: 40px;
      }

      .logosCars a:nth-child(6) {
        margin-right: 1px;
        margin-top: 40px;
      }

      .logosCars a:nth-child(7) {
        margin-top: 40px;
      }
      }

@media screen and (min-width: 993px) and (max-width:1100px) {

  .logosCars {
  width: 51%;
  }
}

@media screen and (min-width: 889px) and (max-width:992px) {

  .logosCars {
  width: 57%;
  }
}

@media screen and (min-width: 792px) and (max-width:888px) {

  .logosCars {
  width: 64%;
  }
}

@media screen and (min-width: 705px) and (max-width:791px) {

  .logosCars {
  width: 72%;
  }
}

@media screen and (min-width: 300px) and (max-width:704px) {

  .logosCars {
  width: 55%;
  }
  
  .logosCars a:nth-child(odd) {
  float: left;
  clear: left;
  }
              
  .logosCars a:nth-child(even) {
  float: right;
  clear: right;
  }
              
  .logosCars a:last-child {
  float: none;
  display: block;
  padding-top: 20px;
  text-align: center;
  }

  .logosCars a {
  margin-right: 0px;
  }

  .logosCars a:nth-child(1) {
  margin-top: 6px;
  margin-left: 27px;
  }
              
  .logosCars a:nth-child(3) {
  margin-top: 25px;
  margin-left: 27px;
  }
              
  .logosCars a:nth-child(4) {
  margin-top: 23px;
  margin-right: 16px;
  }

  .logosCars a:nth-child(5) {
  margin-top: 30px;
  margin-left: 7px;
  }
              
  .logosCars a:nth-child(6) {
  margin-right: 17px;
  margin-top: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width:550px) {

  .logosCars {
  width: 72%;
  }
}

@media screen and (min-width: 300px) and (max-width:400px) {

  .logosCars {
  width: 85%;
  text-align: center;
  }

  .logosCars a:nth-child(odd) {
  float: none;
  margin: 30px auto;
  display: block;
  }

  .logosCars a:nth-child(even) {
  float: none;
  margin: 30px auto;
  display: block;
  }
}

      @media screen and (min-width: 300px) and (max-width:1220px) {
        
        .fieldSelectTop {
          width: 83%;
        }
        
        .fieldSelectTop div:nth-child(2) {
          margin-right: 0px;
        }

        .fieldSelectBottom {
          width: 83%;
        }
        
        .fieldSelectBottom div:nth-child(2) {
          margin-right: 0px;
        }

        .fieldBottomPart {
          width: 83%;
        }
        
        .fieldBottomPart div:nth-child(2) {
          margin-right: 0px;
        }

        .fieldBottomPartNext {
          width: 83%;
          margin-top: 150px;
        }
        
        .fieldBottomPartNext div:nth-child(2) {
          margin-right: 0px;
        }

        .fieldBottomPart div:nth-child(3) {
          margin-top: 74px;
        }
      
        .fieldBottomPart div:nth-child(4) {
          margin-top: 74px;
        }

        .fieldBottomPartNext div:nth-child(3) {
          margin-top: 74px;
        }
      
        .fieldBottomPartNext div:nth-child(4) {
          margin-top: 74px;
        }

        .footerBottomPart {
          margin-bottom: 150px;
        }
        }

        @media screen and (min-width: 300px) and (max-width:861px) {
        
          .fieldSelectTop {
            width: 83%;
          }

          .fieldSelectTop div:nth-child(2) {
            margin-right: 0px;
        }

        .fieldSelectBottom div:nth-child(2) {
          margin-right: 0px;
      }

        }

        @media screen and (min-width: 300px) and (max-width:799px) {
        
          .fieldSelectTop {
            width: 83%;
          }

          .fieldSelectTop div:nth-child(2) {
            margin-right: 0px;
        }

        .fieldSelectBottom div:nth-child(2) {
          margin-right: 0px;
      }

      .fieldBottomPart div, .fieldBottomPartNext div {
        margin-right: 46px;
    }

    .footerBottomPart {
      margin-bottom: 130px;
    }
        }

@media screen and (min-width: 300px) and (max-width:797px) {

.fieldSelectTop {
    width: 83%;
    padding-top: 40px;
  }

.fieldSelectTop div {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }

.fieldSelectTop div:nth-child(1) {
    margin-top: 0px;
  }

.fieldSelectTop div:nth-child(2) {
    margin-right: auto;
  }

.fieldSelectTop div:nth-child(4) {
    margin-right: auto;
    margin-bottom: 40px;
  }

  .fieldSelectBottom {
    width: 83%;
    padding-top: 40px;
  }

.fieldSelectBottom div {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }

.fieldSelectBottom div:nth-child(1) {
    margin-top: 0px;
  }

.fieldSelectBottom div:nth-child(2) {
    margin-right: auto;
  }

.fieldSelectBottom div:nth-child(4) {
    margin-right: auto;
    margin-bottom: 40px;
  }

  .fieldBottomPart {
    width: 83%;
    padding-top: 0px;
  }

.fieldBottomPart div {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }

.fieldBottomPart div:nth-child(1) {
    margin-top: 0px;
  }

.fieldBottomPart div:nth-child(2) {
    margin-right: auto;
  }

.fieldBottomPart div:nth-child(3) {
    margin-top: 40px;
  }

.fieldBottomPart div:nth-child(4) {
    margin-right: auto;
    margin: 40px auto;
  }

  .fieldBottomPartNext {
    width: 83%;
    padding-top: 30px;
    margin-top: 0px;
  }

.fieldBottomPartNext div {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }

.fieldBottomPartNext div:nth-child(1) {
    margin-top: 0px;
  }

.fieldBottomPartNext div:nth-child(2) {
    margin-right: auto;
  }

  .fieldBottomPartNext div:nth-child(3) {
    margin-top: 40px;
  }

.fieldBottomPartNext div:nth-child(4) {
  margin-right: auto;
  margin: 40px auto;
  }

  .footerBottomPart {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 300px) and (max-width:417px) {
.fieldSelectTop div, .fieldSelectBottom div {
  width: 100%;
}

.fieldBottomPart div, .fieldBottomPartNext div {
  width: 100%;
}

.footerBottomPart {
  margin-bottom: 50px;
}
}