* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cac8c8;
  margin: 0 auto;
  width: 1400px;
  font-family: 'Open Sans', sans-serif
}

h1 {
  color: darkblue;
  text-transform: uppercase;
  font-size: 10;
  text-align: center;
}

.cryptWallet {
  width: 500px;
  border-color: darkgreen;
  border-style: dashed;
  border-radius: 10px;
  border-width: 3px;
  margin: auto;
  margin-top: 30px;
  padding: 15px;
}

.script {
  width: 1000px;
  border-color: rgb(1, 31, 1);
  border-style: double;
  border-radius: 10px;
  border-width: 5px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 35px;
}