* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---baseStyle---*/

body {
  background-color: silver;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

.webPage {
  width: 1440px;
  background-color: #fff;
  margin: 0 auto;
}

/*---endBaseStyle---*/

/*---HEADER---*/
/*---headerTop---*/
header {
  padding: 33px 58px 0 58px;
}

input {
  width: 157px;
  height: 22px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  vertical-align: top;
  border: none;
}

h1 {
  font-size: 65px;
  text-transform: uppercase;
  color: #001f3d;
  font-weight: bold;
  margin-top: 208px;
}

#fixed a {
  width: 83px;
  height: 83px;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: #a04955;
  position: fixed;
  bottom: 310px;
  right: 60px;
  z-index: 4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

#fixed a img {
  margin-top: 24px;
}

.headerTop div, .headerTop nav {
  display: inline-block;
  vertical-align: top;
  
}

.logo {
  margin-right: 178px;
}

.logo a {
  display: inline-block;
}

.nav {
  margin-top: 17px;
}

.nav li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 42px;
}

.nav li a {
  color: #333;
}

.headerTop>nav>ul>li>a:hover {
  text-decoration-line: underline;
}

.search {
  margin-top: 12px;
  width: 270px;
  height: 40px;
  border: 1px;
  border-style: solid;
  border-color: #a04955;
  border-radius: 54px;
  text-align: center;
  padding: 9px 40px 9px 73px;
  position: relative;
}

.search a {
  position: absolute;
  top: 9.26px;
  left: 38px;
}

/*---headerBottom---*/

.headerBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.textBox p {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #000;
}

.textBox a {
  width: 240px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  padding-top: 7px;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}

.textBox a:hover {
  border-color: #fff;
  background-color: #000;
  color: #fff;
  transition: all .7s;
}

.picBox {
  position: relative;
}

.picBox div:nth-child(1) {
  width: 518px;
  height: 465px;
  display: inline-block;
  border-color: #a04955;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top: 238px;
  right: 139px;
  z-index: 1;
}

.picBox div:nth-child(2) {
  width: 518px;
  height: 465px;
  display: inline-block;
  background-color: #a04955;
  position: absolute;
  top: 82px;
  right: 0px;
  z-index: 2;
}

.picBox div:nth-child(3) {
  width: 594px;
  height: 559px;
  position: absolute;
  top: 117px;
  right: 0;
  z-index: 3;
  
}

/*---SECTION---*/
/*---header---*/

h2, h3 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

h3 {
  font-size: 64px;
}

.header {
  background-color: #f1f1f1;
  margin-top: 258px;
  padding: 80px 70px 80px 75px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 55px;
  margin-top: 23px;
  
}

.cards>div {
  background-color: #fff;
  padding: 31px 0;
  text-align: center;
}

.cards a {
  display: inline-block;
  color: #333;
}

.cards>div>.titleCards>a:hover {
  text-decoration-line: underline;
}

.cards>div>div>span>a {
  line-height: 3;
}

.cards>div>div>span>a:hover {
  text-decoration-line: underline;
}

.titleCards {
  min-height: 72px;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}

.stars {
  display: grid;
  grid-template-columns: repeat(5, 24px);
  gap: 7.05px;
  justify-content: center;
}

.price {
  font-size: 18px;
  font-weight: 300;
  color: #333;
  text-align: center;
}

.price span {
  font-weight: 500;
}

.cards>div>a {
  width: 130px;
  height: 35px;
  background-color: #a04955;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
  padding-top: 4px;
  padding-left: 33px;
  position: relative;
}

.cards>div>a>img {
  position: absolute;
  top: 7px;
  left: 9.81px;
}

/*---article---*/
.articleTop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(813px, 813px);
}

.articleTopPic {
  position: relative;
}

.articleTopPic div:nth-child(1){
  position: absolute;
  top: 90px;
  left: 70px;
  z-index: 3;
}

.articleTopPic div:nth-child(2){
  width: 518px;
  height: 465px;
  border-style: solid;
  border-color: #a04955;
  border-width: 1px;
  position: absolute;
  top: 258px;
  left: 73px;
  z-index: 2;
}

.articleTopPic div:nth-child(3) {
  width: 517px;
  height: 465px;
  border-style: solid;
  border-color: #a04955;
  border-width: 1px;
  position: absolute;
  top: 102px;
  left: 213px;
  z-index: 1;
}

.articleTopText {
  padding: 139px 72px 0px 74px;
}

.articleTopText h3 {
  font-size: 65px;
  font-weight: 700;
  color: #001f3d;
  text-align: start;
}

.articleTopText p {
  width: 568px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #000;
}

.articleTopText a {
  margin-top: 30px;
  display: inline-block;
  width: 240px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 300;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  padding: 8px 12px;
  text-align: center;
}

.articleTopText a:hover {
  border-color: #fff;
  background-color: #000;
  color: #fff;
  transition: all .7s;
}

.articleCenter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1/3;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 36px;
  background-color: #f5f5f5;
  padding-top: 107px;
}

.leftBox {
  padding-left: 152px;
}

.leftBoxPic, .rightBoxPic {
  width: 550px;
  height: 516.84px;
  background-image: url(./img/image\ 3.png);
  position: relative;
}

.rightBoxPic {
  background-image: url(./img/image\ 2.png);
  margin-left: 0px;
  margin-right: 152px;
}

.stripe {
  width: 550px;
  height: 86px;
  background-color: #a04955;
  opacity: 80%;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 17px;
  position: absolute;
  top: 431px;
}

.articleCenter p {
  width: 550px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #000;
  text-align: center;
  margin-top: 35px;
}

.articleCenter a {
  width: 366px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  padding: 8px 0px;
  margin-top: 25px;
  margin-left: 93px;
}

.articleCenter a:hover {
  border-color: #fff;
  background-color: #000;
  color: #fff;
  transition: all .7s;
}

.articleCenter div:nth-child(3) {
  display: inline-block;
  background-image: url(./img/backgraund.png);
  background-repeat: no-repeat;
  margin-top: 90px;
  grid-column-start: 1;
  grid-column-end: -1;
}

.bottomBox {
  padding: 22px 0px 40px 152px;
}

.bottomBox div {
  width: 578px;
}

.bottomBox h3 {
  font-size: 65px;
  font-weight: 700;
  color: #fff;
  text-align: start;
}

.bottomBox p {
  width: 490px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-align: start;
  margin-top: 0px;
}

.bottomBox a {
  width: 405px;
  color: #fff;
  background-color: #a04955;
  display: inline-block;
  text-transform: uppercase;
  padding: 9px 0px;
  margin-top: 30px;
  margin-left: 0px;
  border: none;
}

.bottomBox a:hover {
  color: #a04955;
  background-color: #fff;
  transition: all .7s;
}

.articleFooter {
  padding: 90px 60px 46px 60px;
}

.topSection {
  display: grid;
  grid-template-columns: 89px 314px 100px 314px 100px 314px 89px;
  grid-template-rows: minmax(156px, 200px);
}

.topSection>div {
  text-align: center;
  color: #333;
  font-size: 24px;
  font-weight: 500;
}

.topSection div:nth-child(1) {
  grid-column: 1/8;
  grid-row: 1/3;
  background-color: #a04955;
  padding-top: 30px;
}

.topSection span {
  text-transform: uppercase;
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}

.topSection div:nth-child(2) {
  grid-column: 2;
  grid-row: 2/4;
  background-color: #fff;
  border-color: #a04955;
  border-width: 1px;
  border-style: solid;
  padding: 20px 0px 38px 0px;
}

.topSection div:nth-child(2) p {
  margin-top: 24px;
}

.topSection div:nth-child(3) {
  grid-column: 4;
  grid-row: 2/4;
  background-color: #fff;
  border-color: #a04955;
  border-width: 1px;
  border-style: solid;
  padding: 20px 0px 38px 0px;
}

.topSection div:nth-child(3) p {
  margin-top: 3px;
}

.topSection div:nth-child(4) {
  grid-column: 6;
  grid-row: 2/4;
  background-color: #fff;
  border-color: #a04955;
  border-width: 1px;
  border-style: solid;
  padding: 20px 0px 38px 0px;
}

.topSection div a {
  width: 242px;
  display: inline-block;
  background-color: #a04955;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0px;
  margin-top: 23px;
  border-color: #a04955;
  border-width: 1px;
  border-style: solid;
}

.topSection div a:hover {
  color: #a04955;
  background-color: #fff;
  border-color: #a04955;
  border-width: 1px;
  border-style: solid;
  transition: all .7s;
}

.bottomSection {
  width: 1214px;
  background-color: #f3f3f3;
  margin-top: 245px;
  margin-left: 53px;
  padding: 130px 81px 43px 93px;
  text-align: center;
  position: relative;
}

.label {
  position: absolute;
  top: -161px;
  left: 469px;
}

.bottomSection h3 {
  font-size: 65px;
  font-weight: 700;
  color: #001f3d;
}

.bottomSection p {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #000;
  margin-top: 20px;
}

.bottomSection a {
  width: 261px;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding: 11px 0px;
  margin-top: 35px;
}

.bottomSection a:hover {
  background-color: #000;
  color: #f3f3f3;
  transition: all .7s;
}

/*---FOOTER---*/
.information {
  display: grid;
  grid-template-columns: 223px 179px 165px 627px;
  gap: 0px 42px;
  background-color: #a04955;
  padding: 50px 60px 50px 60px;
}

.information h4 {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 43.39px;
}

.information a, .emailForm p {
  display: block;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.54px;
}

.information a span {
  text-transform: uppercase;
}

.information div:last-child a span {
  text-transform: lowercase;
}

.information div:last-child a {
  text-transform: uppercase;
}

.emailForm {
  margin-top: 30px;
}

.emailForm p span {
  text-transform: lowercase;
}

.inputBottom div:first-child {
  color: #a04955;
  font-size: 18px;
  font-weight: 400;
  margin-top: 7px;
  text-transform: uppercase;
}

.inputBottom {
  display: grid;
  width: 515px;
  height: 61px;
  background-color: #fff;
  grid-template-columns: 106px 207px 167px;
  padding: 9px 9px 9px 25px;
  margin-top: 20px;
}

.inputBottom a {
  width: 167px;
  height: 43px;
  background-color: #a04955;
  text-align: center;
  padding-top: 5px; 
}

.inputBottom input {
  width: 207px;
  height: 33px;
  text-align: center;
  padding-top: 6px; 
}

.allRightsReserved {
  padding: 10px 1145px 10px 60px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 50%);
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
}