* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px auto;
  background-color: rgb(221, 217, 217);
  font-family: 'EB Garamond', serif;
}

a {
  text-decoration: none;
}

.rightBlock {
  width: 307px;
  height: 164px;
  background-image: url(./img/logoLeft.png);
  position: absolute;
  top: 15px;
}

.webPage {
  width: 1300px;
  height: 825px;
  margin-left: 461px;
}

/*------header-------*/
.header {
  width: 1302px;
  height: 72px;
  background-color: #8C0A0D;
  color: #FFE394;
  font-size: 14px;
  font-weight: bold;
}

.menu {
  margin: 0 auto;
}

 .logo {
  width: 177px;
  height: 41px;
  background-image: url(./img/logo.png);
  display: inline-block;
  margin-left: 67px;
  margin-top: 15px;
} 

.linkMenu {
  display: inline-block;
  margin-left: 125px;
}

.header .menu .linkMenu div {
  display: inline-block;
  margin-right: 31px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .menu .linkMenu a {
  color:#FFE394;
}

.selectLang {
  display: inline-block;
  margin-left: 62px;
}

.header .menu .selectLang div {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .menu .selectLang a {
  color:#FFE394;
}

.flagIcon {
  width: 26px;
  height: 18px;
  background-image: url(./img/engFlag.png);
  vertical-align: top;
  margin-right:  11px;
}

/*------content-------*/
.content {
  width: 1302px;
  position: relative;
}

.backgraund {
  width: 1302px;
  height: 753px;
  background-image: url(./img/backgraund.png);
  background-size: 1302px 753px;
  background-repeat: no-repeat;
}

.opacityForBackground {
  width: 1302px;
  height: 753px;
  background-color: rgba(245, 232, 198);
  opacity: .8;
}

div .info, div .slider {
  margin-left: 66px;
}

/*------block slider-------*/
.slider {
  width: 1160px;
  height: 333px;
  background-image: url(./img/backgraundSlider.png);
  background-repeat: no-repeat;
  border-width: 5px;
  border-style: solid;
  border-color: #35040C;
  position: absolute;
  top: 25px;
}

.sliderArrow {
  width: 1113px;
  height: 55px;
  background-image: url(./img/leftArrowCirButton.png), url(./img/rightArrowCirButton.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 0px, 1059px 0px;
  position: absolute;
  top: 180px;
  left: 94px;
}

.titleOfSlider {
  width: 455px;
  top: 55px;
  left: 426px;
  color: #35040C;
  font-size: 60px;
  position: absolute;
  text-transform: uppercase;
}

.titleOfSlider span {
  text-transform: lowercase;
  font-family: 'Roboto', sans-serif;
}

.button {
  width: 191px;
  height: 44px;
  background-color: rgba(246, 204, 121, 1);
  border-radius: 15%;
  top: 132px;
  left: 558px;
  font-size: 24px;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  position: absolute;
}

.button>a {
  color: #030303;
}

.buttonBackgraund {
  width: 191px;
  height: 44px;
  background-color: rgba(191, 103, 13, 1);
  border-radius: 15%;
  top: 137px;
  left: 558px;
  position: absolute;
}

.content .circle div {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
}

.circle .center {
  background-color: #BF670D;
  left: 643px;
  top: 335px;
}

.right {
  background-color: #FFFFFF;
  left: 667px;
  top: 335px;
}

.left {
  background-color: #FFFFFF;
  left: 620px;
  top: 335px;
}

/*------block info-------*/
.info {
  width: 1170px;
  padding-top: 390px;
}

.block, .blockLast{
  width: 269px;
  display: inline-block;
  margin-right: 21px;
  vertical-align: top;
}

.blockLast {
  margin-right: 0px;
}

.blockTitle, .blockLastTitle {
  font-weight: bold;
  height: 120px;
  color: #030303;
  font-size: 18px;
  overflow: auto;
}

.blockText, .blockLastText {
  margin-top: 18px;
  font-weight: 400;
  color: #070707;
  font-size: 16px;
}

/*------footer-------*/
.footer {
  width: 1302px;
  height: 72px;
  background-color: #8C0A0D;
  font-weight: bold;
  font-size: 14px;
  color: #F4AB64
}

.footer div a {
  color: #F4AB64;
}

.footer div {
  margin-top: 13px;
}

.webSite {
  width: 192px;
  display: inline-block;
  margin-left: 68px;
}

.address {
  width: 151px;
  display: inline-block;
  margin-left: 102px;
}

.tel {
  width: 153px;
  display: inline-block;
  margin-left: 149px;
}

.email {
  width: 138px;
  display: inline-block;
  margin-left: 155px;
}

.fb {
  width: 28px;
  height: 28px;
  background-image: url(./img/iconFb.png);
  display: inline-block;
  margin-left: 69px;
}

.vk {
  width: 28px;
  height: 28px;
  background-image: url(./img/iconVk.png);
  display: inline-block;
  margin-left: 13px;
}