* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cac8c8;
  margin: 0 auto;
  width: 1400px;
  font-family: 'Open Sans', sans-serif
}

.webPage {
  background-color: white;
}

a {
  text-decoration: none;
}

/*------HEADER------*/

.header {
  min-height: 150px;
}

.LangAndMenu {
  width: 1024px;
  height: 13px;
  margin: 0 auto;
}

.menuProducts {
  width: 1066px;
  margin: 0 auto;
}

.topStripe {
  width: 1400px;
  background-color: #4CB1CA;
  padding-top: 14px;
  padding-bottom: 18px;
  color: #def2ff;
  font-size: 13px;
  display: inline-block;
}

.selectLangCurr {
  width: 270px;
  display: inline-block;
  text-transform: capitalize;

}

.selectLangCurr span {
  color: #81cde0;
}

.lang, .currency {
  display: inline-block;
  margin-right: 5px;
  white-space: pre;
}

.currency {
  margin-left: 20px;
}

.topMenu {
  width: 357px;
  float: right;
  text-transform: capitalize;
  margin-left: 5px;
}

.separator {
  margin-left: 4px;
  margin-right: 4px;
  transform: rotateZ(90deg)
}

.linkNames:hover {
  transform: scale(1.1)
}

.topMenuLink>div {
  display: inline-block;
}

.topMenuLink div a {
  color: #def2ff;
}

.logo {
  width: 180px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  color: #656565;
  margin-top: 25px;
  /* margin-left: 191px; */
  float: left;
}

.menu {
  width: 346px;
  margin-left: 59px;
  margin-top: 38px;
  float: left;
}

.menu div {
  display: inline-block;
  margin-right: 19px;
  text-transform: uppercase;
  color: #656565;
  font-size: 14px;
  font-weight: bold;
}

.menu div:last-child {
  margin-right: 0;
}

.menu>div:hover {
  transform: scale(1.3);
  transition: transform 1s;
}

.logo a, .menu div a, .cart a {
  color: #656565;
}

.search {
  width: 200px;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(198, 198, 198, 1);
  color: rgba(198, 198, 198, 1);
  font-size: 13px;
  text-transform: capitalize;
  padding-left: 12px;
  padding-top: 5px;
  display: inline-block;
  position: relative;
  margin-left: 120px;
  margin-top: 33px;
  box-sizing: border-box;
}

.search a {
  position: absolute;
  right: 10px;
  top: 7px;
}

.saleAndBasket {
  width: 82px;
  height: 38px;
  display: inline-block;
  position: relative;
  left: 7px;
  top: 16px;
}

.saleAndBasket>div:hover {
  transform: scale(1.2);
  transition: transform 1s;
}

.sale, .basket {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #7db122;
  display: inline-block;
  position: absolute;
}

.sale img, .basket img {
margin: 9px;
}

.basket {
  left: 43px;
}

.cart {
  display: inline-block;
  margin-left: 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #656565;
}

.cart:hover {
  transform: scale(1.3);
  transition: transform 1s;
}

/*------CONTENT------*/

/*------contentSlider------*/

.slider {
  width: 1400px;
  min-height: 485px;
  background-image: url(./img/backgraundSlider.png);
  background-repeat: no-repeat;
  background-size: 101%;
  margin-left: 1px;
}

.sliderButton {
  display: inline-block;
  position: relative;
  left: 112px;
  top: 213px;
}

.left, .right {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  position: absolute;
}

.right {
  left: 1021px;
}

.left img, .right img{
  margin-left: 27px;
  margin-top: 20px;
}

.sliderText {
  width: 349px;
  margin-top: 179px;
  margin-left: 229px;

}

.topText, .bottomText {
  padding: 13px;
  box-sizing: border-box;
  background-color: #716A62;
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;

}

.topText {
width: 285px;
font-weight: 300;
margin-bottom: 3px;
}

.bottomText {
  width: 348px;
  font-weight: bold;
}

/*------contentBlockProduct------*/

.blockProduct {
  display: inline-block;
  width: 795px;
  margin-left: 170px;
}

.blockFeatured, .blockStaff, .blockNew {
  width: 100%;
  display: inline-block;
}

.categoryFeatured, .categoryStaff, .categoryNew {
  font-size: 24px;
  color: #635f57;
  text-transform: uppercase;
}

.categoryFeatured  {
  margin-top: 40px;
  margin-bottom: 19px;
}

.categoryStaff {
  margin-top: 55px;
  margin-bottom: 22px;
}

.categoryNew {
  margin-top: 64px;
  margin-bottom: 31px;
}

.glasses1, .glasses2, .glasses3 {
  width: 240px;
  height: 321px;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
  box-shadow: 2px 3px 4px #eff1f0, -2px -3px 4px #eff1f0;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
  color: #464148;
  position: relative;
}

.priceNew::before {
  content: "$460";
  text-decoration-line: line-through;
  color: #000;
  font-size: 15px;
  margin-right: 3px;
}

.bgProduct {
  width: 100%;
  height: 77%;
  background-color: #eff1f0;
  margin-bottom: 10px;
}

.price, .priceNew {
  color: #7db122;
  font-size: 14px;
}

.price, .priceNew {
  font-size: 20px;
}

.bgProduct img {
  margin-top: 62px;
  margin-left: 16px;
}

.basket2 {
  width: 50px;
  height: 50px;
  background-color:#7db122;
  border-radius: 50%;
  position: absolute;
  left: 168px;
  top: 246px;
}

.basket2 img {
  margin-top: 12px;
  margin-left: 12px;
}

.labelsNew {
  position: absolute;
  left: 139px;
  bottom: 333px;
}

.labelsNewTop {
  position: absolute;
  left: 7px;
  top: 0px;
}

.labelsNewStrip {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.labelsNewBottom {
  position: absolute;
  left: 101px;
  top: 87px;
  z-index: 1;
}

.labelsSaleTop {
  position: absolute;
  left: 90px;
  top: -11px;
}

.labelsSaleStrip {
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 2;
}

.labelsSaleBottom {
  position: absolute;
  left: -1px;
  top: 77px;
  z-index: 1;
}

.textNew::before {
  content: "new";
  font-weight: bold;
  font-size: 15px;
}

.textNew {
  position: absolute;
  z-index: 3;
  transform:rotateZ(45deg) translate(59px, -13px);
  text-transform: uppercase;
  color:#ffffff
}

.textSale::before {
  content: "sale";
  font-weight: bold;
  font-size: 15px;
}

.textSale {
  position: absolute;
  z-index: 3;
  transform:rotateZ(-45deg) translate(-5px, 9px);
  text-transform: uppercase;
  color:#ffffff
}

.bgProduct>a>img:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.basket2>a>img:hover {
  transform: scale(1.2);
  transition: transform 1s;
}

/*------contentLeftBar------*/

 .leftBar {
  display: inline-block;
  vertical-align: top;
  width: 236px;
}

.topBlock {
  margin-top: 50px;
  height: 448px;
  padding: 15px;
  border-top-color: #4cb1ca;
  border-top-style: solid;
  border-top-width: 4px;
  box-sizing: border-box;
  box-shadow: 2px 3px 4px #eff1f0, -2px -3px 4px #eff1f0;
  font-size: 24px;
  text-align: center;
  background-image: url(./img/backgraundBar.png);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: bottom;
  position: relative;
}

.titleLeftBar {
  text-transform: uppercase;
  color: #635f57
}

.buttonLeftBar a {
  width: 135px;
  height: 47px;
  display: inline-block;
  background-color: #4cb1ca;
  border-radius: 3px;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 14px;
  line-height: 3.3;
}

.buttonLeftBar {
  position: absolute;
  top:  370px;
  left: 51px;
}

.buttonLeftBar a span {
  text-transform: lowercase;
}

.blockButton {
  width: 236px;
  height: 44px;
  display: inline-block;
  box-shadow: 2px 3px 4px #eff1f0, -2px 0px 4px #eff1f0;
} 

.circleButton {
  width: 66px;
  height: 19px;
  margin: 13px auto;
}

.circleButtonRight, .circleButtonCenter, .circleButtonLeft {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #7db122;
  margin-right: 7px;
  display: inline-block;
}

.circleButton div:last-child {
  margin-right: 0px;
}

 .circleButtonRight {
  background-color: #4cb1ca;
} 

.bottomBlock {
  height: 320px;
  margin-top: 28px;
  border-top-color: #4cb1ca;
  border-top-style: solid;
  border-top-width: 4px;
  padding: 28px 24px 31px;
  box-sizing: border-box;
  box-shadow: 2px 3px 4px #eff1f0, -2px -3px 4px #eff1f0;
  font-size: 24px;
  text-align: center;
  position: relative;
}

.textLeftBar {
  font-size: 14px;
  color: #635f57;
  margin-top: 23px;
}

.stripWithShadow {
  width: 87px;
  border-top-color: #e2e2e2;
  border-top-style: solid;
  border-width: 1px;
  margin: 15px auto;
}

.boxWithShadow {
  width: 188px;
  border-color: #e2e2e2;
  border-style: solid;
  border-width: 1px;
  height: 32px;
}

.bottomButton a {
  width: 115px;
  height: 47px;
  background-color: #7eb123;
  border-radius: 3px;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 14px;
  line-height: 3.3;
  display: inline-block;
  position: absolute;
  top: 251px;
  left: 61px;
}


/*------FOOTER------*/

/*------topSection------*/

.topSection {
  width: 100%;
  background-color: #4cb1ca;
  display: inline-block;
}

.bgIconTrack, .bgIconTel {
  width: 68px;
  height: 68px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  margin: 19px 19px 19px 0px;
}

.bgIconTrack {
  margin-left: 186px;
}

.bgIconTel {
  margin-left: 85px;
}

.textTopSection {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  display: inline-block;
  vertical-align: top;
  margin-top: 44px; 
}

.textTopSection a {
  color: #ffffff;
}

.iconTrack, .iconTel {
  margin-top: 20px;
  margin-left: 18px;
}

.centerSection {
  width: 100%;
  background-color: #39a0b9;
  display: inline-block;
  padding: 49px 189px 53px 187px;
  box-sizing: border-box;
}

.blockFacebook {
  width: 240px;
  display: inline-block;
}

.titleSocial, .titleInfo, .titleContact {
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
}

.members {
  text-transform: capitalize;
  font-size: 13px;
  color: #ffffff;
  margin-top: 25px;
}

.members::before {
  content: "20000 ";
}

.iconLike {
  margin-top: 3px;
}

.stripForBlockPeople {
  width: 230px;
  border-top-color: rgba(76, 177, 202, 1);
  border-top-style: solid;
  border-bottom-color: rgba(76, 177, 202, 1);
  border-bottom-style: solid;
  border-width: 1px;
  margin-top: 3px;
}

.stripForBlockPeople div:last-child {
  margin-right: 0;
}

.blockPeople {
  width: 100%;
  height: 123px;
}

.socialProfile, .socialProfile2 {
  width: 49px;
  height: 49px;
  float: left;
  margin-right: 11px;
  margin-top: 6px;
}

.socialProfile2 {
  margin-top: 9px;
  margin-bottom: 8px;
}

.facebookPluginLink span {
  text-transform: capitalize;
}

.facebookPluginLink {
  font-size: 13px;
  color: #ffffff;margin-top: 8px;
}

.blockTwitter {
  width: 230px;
  display: inline-block;
  vertical-align: top;
  margin-left: 51px;
}

.bgFromIcon1, .bgFromIcon2 {
  width: 46px;
  height: 46px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin-top: 28px;
}

.iconTwitter {
  margin-top: 15px;
  margin-left: 14px;
}

.firstPostText, .secondPostText {
  width: 165px;
  display: inline-block;
  font-size: 13px;
  color: #ffffff;
  margin-top: 35px;
  margin-left: 12px;
}

.secondPostText {
  margin-top: 31px;
}

.firstPostText span, .secondPostText span {
  color: #9ae2f4;
}

.blockInformation {
  width: 186px;
  display: inline-block;
  vertical-align: top;
  margin-left: 38px;
}

.infoText {
  margin-top: 32px;
}

.infoText ul li {
  list-style: none;
  font-size: 13px;
  color: #ffffff;
  line-height: 23px;
}

.infoText ul li::before {
  content: ">";
  color: #ffffff;
  margin-right: 10px;
}

.blockContact {
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  margin-left: 67px;
}

.blockContact a {
  color: #ffffff;
}

.blockDate {
  margin-top: 30px;
  line-height: 23px;
}

.stripOfBlockContact {
  width: 199px;
  border-top-style: solid;
  border-top-color: #4cb1ca;
  margin-top: 13px;
  border-width: 1px;
}

.buttonOfSocial {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  margin-top: 15px;
  position: relative;
}

.buttonOfSocial a img {
  position: absolute;
  top: 13px;
  left: 13px;
}

.buttonFacebook a img {
  left: 15px;
}

.bottomSection {
  padding: 26px 193px 28px 196px;
  background-color: #0b4b5a;
}

.bottomMenu a, .bottomMenu div, .copyright {
  text-transform: capitalize;
  font-size: 13px;
  color: #8adcf0;
  display: inline-block;
}

.copyright {
  margin-right: 250px;
}

.bottomMenu {
  display: inline-block;
}

.bottomSeparator {
  transform: rotateZ(90deg)
}

.namesLink:hover {
  transform: scale(1.1)
}