* {
  margin: 0;
  padding: 0;
}

/*------commonData------*/

 body {
  padding: 0.1px;
  background-color: #cac8c8;
  margin: 0 auto;
  width: 755px;
  font-family: 'Bitter', serif;
  font-family: 'Open Sans', sans-serif;
}

.webPage {
  width: 755px;
  background-color: white;
  padding: 0.1px 30px 5px 20px;
}

.titleGroup {
  text-transform: capitalize;
  color: #531604;
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
}

.titleGroup::after {
  content: "";
  width: 100%;
  height: 3px;
  background-image: url(./Line.png);
  display: inline-block;
}

.dish1, .dish2, .dish3, .dish4 {
  width: 594px;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  vertical-align: top;
  margin-top: 13px;
}

.namesDishAndPrice {
  font-size: 20px;
  font-weight: 600;
  color: #da8f40;
}

.descriptionDish {
  margin-top: 20px;
  color: #53666d;
}

.namesDishAndPrice, .dotters, .price, .photoDish {
  display: inline-block;
}

.dotters::after {
  content: "";
  border-bottom-style: dotted;
  border-bottom-color: #a8a8a8;
  border-bottom-width: 1px;
  display: inline-block;
}

.price::after {
  content: "";
  color: #949607;
  font-size: 20px;
  font-weight: 600;
}

.photoDish::before {
  content: "";
  display: inline-block;
  width: 140px;
  height: 95px;
  background-image: url(./icon.jpg);
  background-position: -21px -104px;
  margin-top: 15px;
  border-radius: 15px;
}

/*------blockBreakfast------*/

.dishes1 .dish2 .namesDishAndPrice {
  color: #979705;
}

.dishes1 .dish1 .price::after {
  content: "$ 2,00";
}

.dishes1 .dish1 .dotters::after {
  width: 435px;
}

.dishes1 .dish2 .price::after {
  content: "$ 4,50";
}

.dishes1 .dish2 .dotters::after {
  width: 278px;
}

.dishes1 .dish3 .price::after {
  content: "$ 12,50";
}

.dishes1 .dish3 .dotters::after {
  width: 318px;
}

.dishes1 .dish4 .price::after {
  content: "$ 10,15";
}

.dishes1 .dish4 .dotters::after {
  width: 323px;
}

.photoDish:nth-child(3)::before {
  background-position: -21px -224px;
}

.photoDish:nth-child(5)::before {
  background-position: -21px -344px;
}

.photoDish:nth-child(7)::before {
  background-position: -21px -464px;
}

/*------blockHotStarters------*/

.dishes2 .dish1 .price::after {
  content: "$ 8,00";
}

.dishes2 .dish1 .dotters::after {
  width: 359px;
}

.dishes2 .dish2 .price::after {
  content: "$ 6,50";
}

.dishes2 .dish2 .dotters::after {
  width: 316px;
}

.dishes2 .dish3 .price::after {
  content: "$ 12,50";
}

.dishes2 .dish3 .dotters::after {
  width: 231px;
}

.dishes2 .photoDish:nth-child(3)::before {
  background-position: -21px -799px;
}

.dishes2 .photoDish:nth-child(5)::before {
  background-position: -21px -344px;
}

.dishes2 .photoDish:nth-child(7)::before {
  background-position: -21px -464px;
}


/*------blockSalads------*/

.dishes3 .dish1 .price::after {
  content: "$ 3,50";
}

.dishes3 .dish1 .dotters::after {
  width: 279px;
}

.dishes3 .dish2 .price::after {
  content: "$ 8,50";
}

.dishes3 .dish2 .dotters::after {
  width: 312px;
}

.dishes3 .dish3 .price::after {
  content: "$ 10,50";
}

.dishes3 .dish3 .dotters::after {
  width: 327px;
}

.dishes3 .photoDish:nth-child(3)::before {
  background-position: -21px -799px;
}

.dishes3 .photoDish:nth-child(5)::before {
  background-position: -21px -344px;
}

.dishes3 .photoDish:nth-child(7)::before {
  background-position: -21px -464px;
}


/*------blockSoups------*/

.dishes4 .dish1 .price::after {
  content: "$ 6,80";
}

.dishes4 .dish1 .dotters::after {
  width: 377px;
}

.dishes4 .dish2 .price::after {
  content: "$ 4,50";
}

.dishes4 .dish2 .dotters::after {
  width: 298px;
}

.dishes4 .dish3 .price::after {
  content: "$ 18,50";
}

.dishes4 .dish3 .dotters::after {
  width: 377px;
}

.dishes4 .dish4 .price::after {
  content: "$ 7,15";
}

.dishes4 .dish4 .dotters::after {
  width: 334px;
}

.dishes4 .photoDish:nth-child(3)::before {
  background-position: -21px -799px;
}

.dishes4 .photoDish:nth-child(5)::before {
  background-position: -21px -344px;
}

.dishes4 .photoDish:nth-child(7)::before {
  background-position: -21px -464px;
}


/*------blockMainCourse------*/

.dishes5 .dish1 .price::after {
  content: "$ 6,80";
}

.dishes5 .dish1 .dotters::after {
  width: 332px;
}

.dishes5 .dish2 .price::after {
  content: "$ 4,50";
}

.dishes5 .dish2 .dotters::after {
  width: 201px;
}

.dishes5 .dish3 .price::after {
  content: "$ 18,50";
}

.dishes5 .dish3 .dotters::after{
  width: 189px;
}

.dishes5 .dish4 .price::after {
  content: "$ 7,15";
}

.dishes5 .dish4 .dotters::after {
  width: 399px;
}

.dishes5 .photoDish:nth-child(3)::before {
  background-position: -21px -799px;
}

.dishes5 .photoDish:nth-child(5)::before {
  background-position: -21px -344px;
}

.dishes5 .photoDish:nth-child(7)::before {
  background-position: -21px -464px;
}