* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---baseStyle---*/

body {
  background-color: silver;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

nav>ul {
  padding-left: 0rem;
}

.webPage {
  max-width: 1200px;
  background-color: #fff;
  margin: 100px auto;
}

/*---endBaseStyle---*/

/*---HEADER---*/
header {
  background-image: url(./img/Backgraund.png);
}

nav>ul {
  display: flex;
  justify-content: space-between;
  margin: 70px 0px 48px 0px;
  list-style: none;
}

nav>ul>li>a {
  color: #fff;
  font-size: 18px;
}

nav>ul>li>a:hover {
  color: #0dd42b;
}

.header {
  background-color: rgba(0,0,0, 0.71);
  padding: 0 40px;
}

.logo {
  margin-top: 24px;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.registrationForm {
  background-color: rgba(0,0,0, 0.73);
  padding: 40px 0 18px 0px;
  margin: 35px 0 25px 0px;
  text-align: center;
}

.registrationForm form p {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
}

.form-control {
  display: inline-flex;
  max-width: 252px;
  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 0;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 25px;
  text-align: center;
}

.btn {
  max-width: 263px;
  background-color: rgba(10, 163, 33, 1);
  border: none;
  padding: 11px 81px;
  margin-top: 40px;
}

.btn:hover {
  background-color: rgb(14, 218, 44);
}

/*---SECTION---*/
h1 {
  text-align: center;
  margin-top: 30px;
}

h2 {
  margin-bottom: 19px;
}

span {
  text-transform: uppercase;
}

.text {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 16px;
}

.navTop {
  color: #099b1f;
  margin-top: 20px;
  font-size: 16px;
}

.more {
  color: #099b1f;
  margin-left: 70px;
}

.more:hover {
  color: rgb(14, 218, 44)
}

.col-12 h2 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  padding: 10px 10px;
}

.sectionBottom {
  background-image: url(./img/Backgraund2.png);
  margin-top: 115px;
}

.opacity {
  background-color: rgba(0,0,0,0.58);
}

.generalBox {
  padding-bottom: 20px;
}

.box>p {
  max-width: 257px;
  margin: auto;
  
}

.sectionBottom p {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.box>.textBox {
  margin-top: 19px;
}


/*---FOOTER---*/
footer {
  margin-top: 500px;
  background-color: #000;
  padding: 36px 30px
}
.logoBottom {
  text-align: center;;
}
.socialIcon {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 18px 34px 0px 26px;
}

.navBottom ul {
margin-top: 10px;
}

.navBottom>ul>li>a {
  font-size: 17px;
}

.allRights {
  color: #fff;
  font-size: 10px;
  text-align: end;
}

/*---MEDIA---*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navTop>ul>li>a {
    font-size: 15px;
  }
}

@media screen and (min-width: 300px) and (max-width: 991px) {

  .logo {
    text-align: center;
  }

  nav>ul {
    justify-content: space-around;
    margin: 30px 0px 18px 0px;
  }

  .socialLinks, .socialIcon {
    justify-content: center;
    margin-top: 0px;
  }

  .socialLinks div, .socialIcon div {
    margin-left: 25px;
  }

  .socialLinks div a {
    display: block;
  }

  .socialLinks, .socialIcon div:first-child {
    margin-left: 0px;
  }

  .sectionContent {
    width: 100%;
    text-align: center;
  }

  .sectionContent img {
    max-width: 100%;
  }

  .box {
    margin-bottom: 20px;
  }

  .box img {
    max-width: 100%;
  }

    .box p {
    font-size: 15px;
  }

  .navBottom>nav {
    padding: 0px 100px;
  }

  .navBottom>nav>ul>li>a {
    font-size: 12px;
  }

}

@media screen and (min-width: 300px) and (max-width: 575px) {

  nav>ul {
    display: block;
    text-align: center;
  }

  .registrationForm form p {
    font-size: 20px;
  }

  .btn {
  padding: 8px 43px;
}

  .navBottom>nav {
    padding: 0px 0px;
    display: block;
  }
}