* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---baseStyle---*/

body {
  background-color: silver;
  font-family: 'EB Garamond', serif;
}

a {
  text-decoration: none;
  color: #000;
}

.webPage {
  width: 1300px;
  background-color: #fff;
  margin: 100px auto;
  padding: 0px 65px 280px 46px;
}

/*---endBaseStyle---*/

/*---HEADER---*/
header {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 100%;
  padding-top: 23px;
}

nav>ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  
}

nav>ul>li>a:hover {
  text-decoration-line: underline;
  color: cornflowerblue;
}

.logo {
  margin-right: 81px;
}

.selectLang {
  width: 140px;
  height: 40px;
  display: inline-flex;
  padding-top: 20px;
  text-transform: uppercase;
  margin-left: 25px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.selectLang div:nth-child(1) {
  width: 30px;
  height: 30px;
  background-color: rgba(174, 174, 174, 1);
  border-radius: 50%;
}

.path {
  text-transform: capitalize;
}

.path>a::after {
  content: '/';
}

.path>a:last-child::after {
  content: '';
}

.path>a:hover {
  text-decoration-line: underline;
}

.path span {
  text-transform: uppercase;
  font-size: 18px;
}

/*---MAIN---*/
main {
  display: flex;
}

/*---ASIDE---*/
aside {
  width: 245px;
}

aside>div {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
  margin-top: 48px;
}

/*---SECTION---*/
section {
  width: 945px;
}

section>div {
  background-color: rgba(174, 174, 174, 1);
  text-align: center;
  margin-top: 7px;
  padding-top: 43px;
  padding-bottom: 186px;
}

section>h2, section>p {
  margin-top: 20px;
  line-height: 2;
}

section :last-child {
  margin-bottom: 64px;
}

/*---FOOTER---*/
footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
}

footer :nth-child(2) {
  width: 150px;
}

footer :nth-child(3) {
  width: 150px;
  text-align: end;
}

footer :nth-child(4) {
  width: 138px;
}

footer :last-child div {
  width: 35px;
  display: inline-flex;
}
