* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 900px;
}

.webPage {
  width: 800px;
  margin: 0 auto;
}

header {
  width: 800px;
  height: 200px;
  border-color: red;
  border-width: 3px;
  border-style: solid;
}
nav {
  display: inline-flex;
  width: 95px;
  height: 400px;
  border-color: orange;
  border-width: 3px;
  border-style: solid;
}
section {
  display: inline-flex;
  width: 700px;
  height: 400px;
  border-color: orange;
  border-width: 3px;
  border-style: solid;
}
footer {
  width: 800px;
  height: 200px;
  border-color: silver;
  border-width: 3px;
  border-style: solid;
}